body {
    background-color: rgb(254, 250, 239) !important;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.quizBox {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.answer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.answer:hover {
    background-color: rgba(0, 0, 0, 0.005);
    transition: all 255ms ease-in-out;
}

.select {
    background-color: rgb(39, 53, 92);
    color: white;
    display: flex;
    flex-direction: column;
}

.select img {
    height: 54px;
    margin-top: 20px;
    width: max-content;
    align-self: center;
}

.category {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0px;
    margin: auto;
    margin-left: 0;
}

.selected {
    background-color: transparent;
    width: 6px;
    margin: 0 4px 0 1px
}

.choice{
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    cursor: pointer;
}

.choice:hover{
    transform: scale(1.1);
    transition: all ease-in-out 255ms;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerLetter {
    margin-left: 7px;
    width: 34px;
    height: 34px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    background-color: rgb(214, 214, 214) !important;
}

.card-title {
    font-family: 'Rubik medium', sans-serif;
    font-weight: 600;
}

.quizCard {
    background-color: rgb(247, 247, 247);
}

.rightAnswer {
    background-color: rgb(183, 247, 153) !important;
}

.wrongAnswer {
    background-color: rgb(255, 163, 164) !important;
}

.nextPrev {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nextPrevBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: relative;
    bottom: -40px;
    background-color: rgb(221, 221, 245);
}

.nextPrevBtn img {
    padding: 4px;
}

.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-success {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.questionNumber {
    text-align: center;
    font-size: x-small;
}

.quizbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizbottom button {
    width: max-content;
    margin-bottom: 6px;
    display: none;
}

.endscreen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: unset !important;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding: 26px;
    height: 60vh;
}

.endscreen img {
    width: 80px;
    height: 80px;
    margin-bottom: 26px;
    text-align: center;
    font-family: 'Rubik regular', sans-serif;
    ;
}

.endscreen button {
    margin-top: 21px;
}

.yourScore {
    color: rgb(241, 136, 53);
    font-weight: bold;
}

.tropy {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    height: 50vh;
    display: none;
}