body {
    background-color: rgb(254, 250, 239) !important;
}

.quizBox {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.answer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.answer:hover {
    background-color: rgba(0, 0, 0, 0.005);
    transition: all 255ms ease-in-out;
}

.select {
    background-color: rgb(39, 53, 92);
    display: flex;
    justify-content: center;
    margin: -1px;
}

.select img {
    height: 54px;
    margin-top: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerLetter {
    margin-left: 7px;
    width: 34px;
    height: 34px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    background-color: rgb(214, 214, 214) !important;
}

.card-title {
    font-family: 'Rubik medium', sans-serif;
    font-weight: 600;
}

.quizCard {
    background-color: rgb(247, 247, 247);
}

.rightAnswer{
    background-color: rgb(183, 247, 153) !important;
}

.wrongAnswer{
    background-color: rgb(255, 163, 164) !important;
}

.nextPrev{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nextPrevBtn{
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    bottom: -40px;
}